.red-underline {
  border-top: 2px solid #DC0000;
}

.blue-underline {
  border-top: 2px solid #094AA0;;
}

.red-text {
  color: #DC0000;
}

.blue-text {
  color: #094AA0;;
}

.section {
  background-color: #F2F2F2;
}

.article-card-container {
  margin-bottom: 30px;
}
